.login-container {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  flex-direction: column;
  inline-size: 70%;
  padding: 1em;
  border: 1px solid #5a7087;
  border-radius: 4px;
}

.login-input-row {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

div.login-input-container {
  flex: 100;

  max-inline-size: 60%;
}

.login-label {
  inline-size: 40%;
  text-align: left;
}

div.login-input {
  color: white;
}

div.fetch-modal-content-container {
  block-size: 50%;
}

.fetch-modal-text-container {
  display: flex;
  flex-direction: column;

  block-size: 100%;
  justify-content: space-between;
}

div.fetch-modal-paper-container {
  block-size: 25%;
}
@media only screen and (min-width: 768px) {
  .login {
    inline-size: 30%;
  }
}
