div.swap-team-container {
  padding: 1em;
  inline-size: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

div.swap-team-actions {
  padding: 0;
}

button.swap-team-action-btn {
  min-width: 2em;
  line-height: 1em;
}
