.rating-button-group-container {
  display: flex;
  flex-direction: row;
}

button.rating-btn {
  min-width: unset;
  color: #5a7087;
  line-height: 1;
}

button.rating-btn:hover {
  filter: brightness(1.1);
  background-color: #34495e;
}

button.rating-btn.selected {
  background-color: #ffe478;
  color: #34495e;
}
