div.settings-container {
  max-width: unset;
  inline-size: 60%;
  block-size: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: #34495e;
  padding-block: 1em;
  padding-inline: 1em;
}

.setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  block-size: 3em;
  inline-size: 40%;
  position: relative;
}

.settings-list {
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h4.setting-title {
  font-size: 1em;
  display: flex;
  margin: 0;

  position: absolute;
  left: 0em;
  top: -1em;
  padding: 6px 0px;
  color: #ffe478;
}

h4.total-teams {
  position: absolute;
  right: 3em;
  bottom: 0;
  margin: 0;
  font-size: 0.75em;
}

.settings-actions-container {
  position: absolute;
  right: 1%;
  top: 3%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* block-size: 3em; */
  gap: 0.3em;
}

button.download-btn,
button.save-btn,
label.load-btn {
  /* font-size: 1.3em; */
  color: white;
  min-width: unset;
  border-radius: 4px;
  /* padding: 4px; */
  block-size: 1.5em;
}

button.download-btn svg,
button.save-btn svg,
label.load-btn svg {
  font-size: 1em;
}

button.save-btn:hover,
label.load-btn:hover {
  background-color: #5a7087;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

span.download-progress {
  position: absolute;
}

li.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
  color: #34495e;
  gap: 1em;
}

.menu-row-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
  gap: 1em;
}

svg.menu-icon {
  color: #34495e;
}

svg.download-error-icon {
  /* color: #e74c3c; */
  /* background-color: #e74c3c; */
}

button.download-btn {
  border-radius: 50%;
  /* padding: 4px 4px; */
}

button.download-btn.error {
  background-color: #e74c3c;
}

button.download-btn.error:hover {
  filter: brightness(1.05);
  background-color: #e74c3c;
  transition: all 0.2s ease-out;
}
