div.settings-container {
  max-width: unset;
  inline-size: 75%;
  block-size: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: #34495e;
  padding-block: 1em;
  padding-inline: 1em;
}

.settings-list {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

div.setting-container .rating-button-group-container {
  inline-size: 100%;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 40%;
  position: relative;
}

h4.total-teams {
  position: absolute;
  right: 3em;
  bottom: 0;
  margin: 0;
  font-size: 0.75em;
}

.settings-actions-container {
  position: absolute;
  right: 1%;
  top: 3%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

button.download-btn,
button.save-btn,
label.load-btn {
  color: white;
  min-width: unset;
  border-radius: 4px;
  block-size: 1.5em;
}

button.download-btn svg,
button.save-btn svg,
label.load-btn svg {
  font-size: 1em;
}

button.download-btn:hover,
button.save-btn:hover,
label.load-btn:hover {
  background-color: #5a7087;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

span.download-progress {
  position: absolute;
}

li.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
  color: #34495e;
  gap: 1em;
}

.menu-row-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inline-size: 100%;
  gap: 1em;
}

svg.menu-icon {
  color: #34495e;
}

svg.download-error-icon {
}

button.download-btn {
  border-radius: 50%;
}

button.download-btn.error {
  background-color: #e74c3c;
}

button.download-btn.error:hover {
  filter: brightness(1.05);
  background-color: #e74c3c;
  transition: all 0.2s ease-out;
}

h4.setting-title {
  font-size: 1em;
  display: flex;
  margin: 0;

  left: 0em;
  top: -1em;
  padding: 6px 0px;
  color: #ffe478;
}

.setting-title-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  inline-size: 100%;
}

div.tooltip-container {
  font-family: "Righteous", sans-serif !important;
  font-size: 13px;
  background-color: #5a7087;
}

@media only screen and (min-width: 768px) {
  div.settings-container {
    inline-size: 60%;
    block-size: 20%;
  }

  .settings-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
